a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}



.logo {
    margin-right: auto;
}

.navigation {
    margin-right: 30px;
}

.nav-list {
    display: flex;
    gap: 28px;
}

.nav-link {
        font-size: 14px;
        color: #2c2c2c;
        padding: 28px 0;
        display: block;
}

.nav-link:hover,
.nav-link:focus {
    font-weight: 700;
        text-decoration: underline;
        color: #bbf330;
}

.main-btn {
    background: #bbf330;
    border-radius: 30px;
        width: 98px;
        height: 32px;
        min-width: 98px;
        font-weight: 500;
            font-size: 13px;
            line-height: 1.5;
            border: none;
            cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
background-color: #ffe450;
}

.header-container {
    display: flex;
    align-items: center;
}

.hero {
    padding-top: 14px;
    padding-bottom: 69px;
}

.hero-title {
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 28px;
}

.hero-text {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 40px;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 143px;
}

.hero-img {
    border-radius: 100%;
        background-color: #fefefe;
        border: 26px solid #ffe550;
}

.hero-wrapper {
    max-width: 511px;
}

.offerings {
    padding-top: 113px;
    padding-bottom: 124px;
    background-color: #ffe550;
}

.offerings .container {
    display: flex;
    align-items: center;
    gap: 90px;
}

.offering-wrapper {
    max-width: 573px;
}

.offering-title {
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 20px;
}

.offering-text {
    margin-bottom: 40px;
        font-size: 16px;
        line-height: 1.5;
}

.offering-list {
    display: flex;
    gap: 67px;
    margin-bottom: 32px;
}

.offering-list-item {
    width: calc((100% - 67px) / 2);
}

.item-text {
    font-size: 14px;
        line-height: 1.5;
}

.offering-list-title {
    margin-bottom: 16px;
}

.offerings .main-btn {
    background-color: #fff;
    border: 2px solid #7eb101;
}

.offerings .main-btn:hover,
.offerings .main-btn:focus {
    background-color: #bbf330;
    border: none;
}

.features {
    padding-top: 120px;
    padding-bottom: 101px;
}

.features-title {
        font-size: 42px;
        text-align: center;
        margin-bottom: 20px;
}

.features-text {
    text-align: center;
    margin-bottom: 40px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.features-list-item {
    width: calc((100% - 64px) / 3);
}

.reviews {
    padding-top: 140px;
    padding-bottom: 126px;
    background-color: #ffe550;
}

.reviews-title {
        font-size: 42px;
        margin-bottom: 20.4px;
        max-width: 501px;
}

.reviews-text {
    font-size: 16px;
    margin-bottom: 32.65px;
    max-width: 537px;
}

.reviews-list {
    display: flex;
    gap: 139px;
}

.reviews-list-item {
    background-color: #fefefe;
    padding: 14px;
    width: 501px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.reviews-item-text {
    font-size: 18px;
    margin-top: 28.56px;
    margin-bottom: 41.14px;
}

.reviewers-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    max-width: 160px;
}

.reviewer-name {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 2px;
}

.reviewer-prof {
        font-size: 14px;
        line-height: 1.5;
}

.subscribe {
    padding-top: 176px;
    padding-bottom: 201px;
}

.subscribe-title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
    max-width: 656px;
}

.subscribe-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
    max-width: 532px;
}

.subscribe-input {
    border: 0.85px solid #ffe550;
        border-radius: 30px;
        padding: 10px;
        width: 395px;
        background-color: #fefefe;
            font-size: 12px;
            line-height: 1.5;
            margin-right: 32px;
}

.subscribe-btn {
    cursor: pointer;
    background-color: #bbf330;
    border-radius: 30px;
    border: none;
        padding: 10px 20px;
        min-width: 103px;
        font-weight: 500;
            font-size: 13px;
            line-height: 1.5;
            color: #2c2c2c;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background: #ffe450;
}

.subscribe-container {
    display: flex;
    align-items: center;
}

.footer {
box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
background: #fefefe;
padding-top: 100px;
padding-bottom: 100px;
background-image: url(../images/footer-bg.png);
background-repeat: no-repeat;
background-position: bottom;
background-size: 1211px;
}

.logo-footer {
    margin-right: 143px;
}

.footer-nav {
    display: flex;
    gap: 28px;
    margin-right: auto;
}

.footer-link {
    font-size: 14px;
    color: #2c2c2c;
}

.footer-call {
    display: block;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 12px;
        max-width: 342px;
}

.footer-form {
margin-bottom: 12px;
}

.footer-input {
    border: 0.85px solid #ffe550;
        border-radius: 30px;
        padding: 12px;
        width: 279px;
            font-size: 12px;
            line-height: 1.5;
            margin-right: 13px;
            background-color: #fafafa;

            outline: transparent;
}

.footer-btn {
    cursor: pointer;
    border: 0.85px solid #7eb101;
        border-radius: 30px;
        padding: 10px 20px;
        min-width: 103px;
        background-color: #fff;
        font-weight: 500;
            font-size: 13px;
            line-height: 1.5;
            color: #2c2c2c;
}

.footer-btn:hover,
.footer-btn:focus {
border-color: #ffe450;;
}

.privacy-policy {
    font-size: 12px;
}

.policy-link {
    text-decoration: underline;
        color: #7eb101;
}

.footer-container {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.footer-list {
    display: flex;
    gap: 20px;
}

.footer-list-item {
        font-size: 12px;
        text-decoration: underline;
        color: #7eb101;
}

.rights {
    font-size: 12px;
}

.bottom-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 99, 99, 0.7);
}

.modal {
    border-radius: 30px;
        width: 458px;
        min-height: 449px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
            background: #ffe550;
            padding: 32px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
}

.modal-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
        background-color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
}

.modal-title {
    font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 20px;
}

.modal-field {}

.modal-label {}

.modal-input {}